<h1 class="text-center">Create a new item!</h1>
<div class="text-center">
  <%= form_for @item do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.submit 'CREATE!', class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
